html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 200px;
    height: auto;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}

.logo-container::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-container-recher {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    width: 100%;
    height: 50px;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto';
}

.texte-header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.violet-button {
    background: rgb(247, 160, 250);
    background: linear-gradient(150deg, rgba(247, 160, 250, 1) 0%, rgba(192, 96, 195, 1) 53%, rgba(151, 71, 255, 1) 100%);
    color: white;
    padding: 5px 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-size: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}


.violet-button:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    filter: brightness(1.2); 
}

.Fonctionnement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    max-width: 767px;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.Fonctionnement-titre {
    display: flex;
    text-align: left;
    width: 100%;
    align-items: flex-start;
    max-width: 767px;
}

.Fonctionnement-boutons {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 767px;
    gap: 20px;
}

.cercle-et-bouton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: bold;
    color: white;
    background-color: rgba(151, 71, 255, 1);
    z-index: 1;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translateY(-70%);
    left: -15px;
    top: 45%;
} 


.white-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    color: black;
    border: none;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    gap: 10px;
    width: 100%;
    max-width: 767px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    margin-bottom: 20px;
}

.white-button:hover {
    background-color: #e0e0e0; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6); 
    filter: brightness(1.2); 
    }

.white-button .fa-mobile-screen-button,
.white-button .fa-list-ul,
.white-button .fa-store {
    color: black;
    transition: color 0.3s ease;
}
.white-button:active .fa-mobile-screen-button,
.white-button:focus .fa-mobile-screen-button,
.white-button:active .fa-list-ul,
.white-button:focus .fa-list-ul,
.white-button:active .fa-store,
.white-button:focus .fa-store {
    color: #6a0dad;
}



.restaurant {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    max-width: 767px;
    margin: 20px auto;
}

.restaurants-title {
    text-align: center;
    margin: 20px 0;
    padding: 0;
    font-size: 24px;
}

.restaurants-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 767px;
    gap: 20px;
    margin: 0 auto;
}

.restaurants-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
}

.card-image-container {
    position: relative;
    width: 100%;
}

.restaurants-cards img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card {
    display: block;
    text-decoration: none;
    color: inherit;
}

.card-image-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.new-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #99E2D0;
    color: #008766;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

.card-content {
    padding: 10px;
    width: 100%;
    text-align: left;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    color: black;
}

.card-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.card-title,
.card-subtitle {
    margin: 0;
    text-decoration: none;
    color: inherit;
}

.card-subtitle {
    font-size: 14px;
}

.heart-container {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: black;
}

.heart-checkbox {
    display: none;
}

.fa-heart {
    color: black;
    transition: background 3s ease, transform 0.3s ease;
}

.heart-container:hover .fa-heart {
    color: transparent;
    background: linear-gradient(180deg, rgba(151, 71, 255, 1) 0%, rgba(192, 96, 195, 1) 50%, rgba(247, 160, 250, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    animation: fillHeartHover 3s forwards ease-in-out; 
}

.heart-checkbox:checked + .fa-heart {
    color: transparent; 
    background: linear-gradient(180deg, rgba(151, 71, 255, 1) 0%, rgba(192, 96, 195, 1) 50%, rgba(247, 160, 250, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    animation: fillHeartClick 3s forwards ease-in-out;
}

@keyframes fillHeartHover {
    0% {
        color: transparent;
        transform: scale(0.5);
    }
    50% {
        color: transparent;
        transform: scale(1.1);
    }
    100% {
        color: transparent;
        transform: scale(1);
    }
} 

@keyframes fillHeartClick {
    0% {
        color: transparent;
        transform: scale(0.5);
    }
    50% {
        color: transparent;
        transform: scale(1.1);
    }
    100% {
        color: transparent;
        transform: scale(1);
    }
} 
   

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.search-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #353535;
    color: white;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}


.omyfoodtitre {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Shrikhand', cursive;
    font-weight: lighter;
    font-size: 25px;
    margin-bottom: 10px;
}

.ohmyfood-footer ul {
    padding-inline-start: 0px;
    margin: 0;
    list-style-type: none;
    text-align: left;
}

.search-footer .p a[href="p"] {
    font-weight: bold;
    font-size: 20px;
}

li {
    font-weight: normal;
    text-align: left;
    font-size: 15px;
    list-style-type: none;
}

@media (min-width: 1024px) {

    .logo-container::after {
        box-shadow: none;
    }

    .icon-container-recher {
        box-shadow: none;
    }

    .Fonctionnement-boutons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .violet-button {
        background: rgb(247, 160, 250);
        background: linear-gradient(150deg, rgba(247, 160, 250, 1) 0%, rgba(192, 96, 195, 1) 53%, rgba(151, 71, 255, 1) 100%);
        color: white;
        padding: 5px 50px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        font-size: 20px;
        transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    }

    .violet-button:hover {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
            filter: brightness(1.2); 
    }

    .white-button {
        padding: 25px 50px;
        white-space: nowrap;
    }

    .white-button:hover {
        background-color: #e0e0e0; 
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6); 
        filter: brightness(1.2); 
        }

    .restaurant {
        position: relative; 
        max-width: 900px; 
        margin: 20px auto; 
        padding: 0 20px;
        box-sizing: border-box; 
    }
    
    .restaurant::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: calc(100% + 40px);
        background-color: #f7f7f7;
        z-index: -1; 
        box-sizing: border-box; 
        margin-left: calc(50% - 50vw); 
    }
    
      
      .restaurants-title {
        text-align: left; 
        margin: 20px 0; 
        padding: 0;
        font-size: 24px; 
        width: 100%;
    }
    
   
    .restaurants-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        width: 100%;
        box-sizing: border-box; 
        max-width: 900px;
    }

.heart-container {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: black;
}

.heart-checkbox {
    display: none;
}

.fa-heart {
    color: black;
    transition: background 3s ease, transform 0.3s ease;
}

.heart-container:hover .fa-heart {
    color: transparent;
    background: linear-gradient(180deg, rgba(151, 71, 255, 1) 0%, rgba(192, 96, 195, 1) 50%, rgba(247, 160, 250, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    animation: fillHeartHover 3s forwards ease-in-out; 
}

.heart-checkbox:checked + .fa-heart {
    color: transparent; 
    background: linear-gradient(180deg, rgba(151, 71, 255, 1) 0%, rgba(192, 96, 195, 1) 50%, rgba(247, 160, 250, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    animation: fillHeartClick 3s forwards ease-in-out;
}

@keyframes fillHeartHover {
    0% {
        color: transparent;
        transform: scale(0.5);
    }
    50% {
        color: transparent;
        transform: scale(1.1);
    }
    100% {
        color: transparent;
        transform: scale(1);
    }
} 

@keyframes fillHeartClick {
    0% {
        color: transparent;
        transform: scale(0.5);
    }
    50% {
        color: transparent;
        transform: scale(1.1);
    }
    100% {
        color: transparent;
        transform: scale(1);
    }
} 
    .search-footer {
        display: flex; 
        flex-direction: row;
        justify-content: flex-end; 
    }

    .omyfoodtitre {
        font-size: 15px;
        order: 1; 
    }
    
    .ohmyfood-footer {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    
   
}
