html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body.restaurant-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

@media (min-width: 1024px) {

    body.restaurant-page {
      width: 100%;
      min-width: 767px;
  }
}
  