.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  animation: hide-loader 1s forwards;
}

.loader .logo-loader {
  width: 120px;
  animation: grow-shrink-loader 1s ease-in-out infinite;
}

@keyframes grow-shrink-loader {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
@keyframes hide-loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.content {
  opacity: 0;
  visibility: hidden;
  text-align: center;
  margin-top: 10px;
  animation: show-content 1s forwards;
  animation-delay: 0.5s;
}

@keyframes show-content {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.violet-button {
  background: linear-gradient(180deg, rgb(247, 160, 250) 0%, rgb(192, 96, 195) 53%, rgb(151, 71, 255) 100%);
  color: white;
  margin-top: 20px;
  padding: 5px 5px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  width: 60%;
  height: 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.1s ease, box-shadow 0.1s ease, transform 0.1s ease;
}
.violet-button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  filter: brightness(1.2);
}

.white-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3F3F3;
  color: black;
  border: none;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  gap: 10px;
  width: 100%;
  max-width: 767px;
  margin-bottom: 20px;
  transition: background-color 0.1s ease, box-shadow 0.1s ease, transform 0.1s ease;
}
.white-button:hover {
  background-color: #e0e0e0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  filter: brightness(1.2);
}
.white-button:hover .fa-mobile-screen-button,
.white-button:hover .fa-list-ul,
.white-button:hover .fa-store {
  color: rgb(151, 71, 255);
}
.white-button .fa-mobile-screen-button,
.white-button .fa-list-ul,
.white-button .fa-store {
  color: black;
  transition: color 0.1s ease;
}
.white-button .fa-mobile-screen-button:active, .white-button .fa-mobile-screen-button:focus,
.white-button .fa-list-ul:active,
.white-button .fa-list-ul:focus,
.white-button .fa-store:active,
.white-button .fa-store:focus {
  color: #6a0dad;
}

.heart-container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: black;
}

.fa-heart {
  color: black;
  transition: background 0.3s ease, transform 0.3s ease;
}
.fa-heart:hover {
  color: transparent;
  background: linear-gradient(180deg, rgb(151, 71, 255) 0%, rgb(192, 96, 195) 50%, rgb(247, 160, 250) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  font-weight: bold;
  transform: scale(1);
  animation: fillHeartHover 0.3s forwards ease-in-out;
}

@keyframes fillHeartHover {
  0% {
    color: transparent;
    transform: scale(0.5);
  }
  50% {
    color: transparent;
    transform: scale(1.1);
  }
  100% {
    color: transparent;
    transform: scale(1);
  }
}
@media (min-width: 1024px) {
  .violet-button {
    background: linear-gradient(150deg, rgb(247, 160, 250) 0%, rgb(192, 96, 195) 53%, rgb(151, 71, 255) 100%);
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    height: 45px;
    width: 20%;
    transition: background-color 0.1s ease, box-shadow 0.1s ease, transform 0.1s ease;
  }
  .violet-button:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    filter: brightness(1.2);
  }
  .white-button {
    padding: 25px 30px;
    white-space: nowrap;
    border-radius: 10px;
    background-color: #F3F3F3;
    color: black;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.1s ease, box-shadow 0.1s ease, transform 0.1s ease;
  }
  .white-button:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    filter: brightness(1.2);
  }
  .white-button:hover .fa-mobile-screen-button,
  .white-button:hover .fa-list-ul,
  .white-button:hover .fa-store {
    color: rgb(151, 71, 255);
  }
}/*# sourceMappingURL=style.css.map */